body {
  font-family: "Courier New", Courier, monospace;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  color: blueviolet;
}

a {
  font-size: large;
  font-weight: 800;
  padding: 8px;
  margin: 16px 0;
  display: block;
}

img {
  border: black solid 8px;
  margin: 0 auto;
  display: block;
}

.first-container {
  border: dotted brown 10px;
  margin: 16px;
  padding: 16px;
}

a:hover {
  color: black;
}

.index-list {
  list-style-type: none;
}
